@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.gallery-container {
  background-color: #1E3A8A;
}

.gallery-title {
  color: #fff;
  margin-bottom: 20px;
}

.grid-image {
  margin-top: '20px';
}


.gallery-paper {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid #fff;
  transition: opacity 0.5s ease-in-out;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-placeholder {
  width: 100%;
  height: 100%;
  background-color: #1E3A8A;
}

.paper-root {
  padding: '10px';
  background-color: #FFC0CB;
}

.data-show {

  max-height: 80%;
}

.transition-opacity {
  transition: opacity 0.5s ease-in-out;
}